/* Styles for the main body and html */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000; /* OLED dark/pitch black background */
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Style for the main <header> group which holds the top <nav>igation bar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #222; /* Non-transparent background for the header */
    font-size: 1.2em; /* Larger font size for navigation bar */
}

/* Style for the logo <div> */
#logo-picture {
    margin-top: 5px; /* It's a little bit too high by default, so adjust it a little */
}

/* Style for the brand <div> */
#brand {
    font-size: 1.5em; /* Larger font size for the brand name */
    color: darkred; /* Red color for the brand name */
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    line-height: 1; /* Adjust line-height to match the actual height of the text */
    height: auto; /* Let the height be determined by content and line-height */
    min-height: 1em; /* Adjust min-height to ensure it's not too tall */
    overflow: hidden;
    white-space: nowrap;
    max-width: 7ch;
    border-right: 0.1em solid darkred; /* Cursor width */
    padding: 0 0.1em; /* Adjust padding as needed */
    box-sizing: border-box;
    vertical-align: top; /* Ensures alignment with other inline elements */
}

/* Style for the brand-author <span> */
#brand-author {
    color: white;
    font-size: 0.8em;
    padding-left: 10px;
    vertical-align: top;
}

/* Style for the top <nav>igation bar */
nav {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align menu items to the right */
    flex-grow: 1;
}

/* Style for the <ul> classes inside the top <nav>igation bar */
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

/* Styles for the <ul> classes and <li> elements inside the top <nav>igation bar */
nav ul li {
    margin: 0 5px;
}

/* Styles for the <ul> classes, <li> elements <a> hrefs inside the top <nav>igation bar */
nav ul li a {
    text-decoration: none;
    color: inherit;
    text-transform: capitalize; /* Uppercase first letter, rest lowercase */
}

.nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-list li {
    margin: 0 10px;
}

.nav-list li:not(:last-child)::after {
    content: '|';
    margin-left: 10px;
    margin-right: -10px;
}
