/* Style for the <span> class checkmark elements. */
.checkmark {
    color: green;
}

/* Styles for the main content <section> */
#content {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navigation Separator Style */
.nav-separator {
    margin-top: -1px; /* Move them up a bit */
    margin-left: 1px; /* Reduce the space they reserve */
    margin-right: 1px; /* Reduce the space they reserve */
    color: white;
}

/* Styles for the <h2> and <h3> elements inside the "About" section */
#about h2, #about h3 {
    color: #fff;
}

/* Header that says who you are */
#introduction-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

/* Header that says what skills you have */
#skills-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -750px;
}

/* Header that says what you have experience in */
#experience-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 700px;
    margin-top: -41px;
}

/* Styles for the different <ul> classes inside the "About" section */
#about ul {
    list-style: none;
    padding: 0;
}

/* Styles for all the different <li> elements inside the different <ul> classes for the "About" section */
#about li {
    margin: 10px 0;
    color: #fff;
}

/* Styles for the left and right column <ul> classes with attributes both share */
#about .left-column, #about .right-column {
    position: absolute;
    width: 350px;
    height: 200px;
    margin-top: -6px;
    margin-left: -50px;
}

/* Styles for the <li> elements inside the <ul> class right-column */
#about .right-column li {
    padding-left: 200px; /* Adjust indentation for the right column */
}

/* Style for the <div> which contains the <h3> with a specific text */
#experience-list-div {
    margin-left: 725px;
}
