/* Styles for the main content <section> */
#content {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navigation Separator Style */
.nav-separator {
    margin-top: -1px; /* Move them up a bit */
    margin-left: 1px; /* Reduce the space they reserve */
    margin-right: 1px; /* Reduce the space they reserve */
    color: white;
}

/* Styles for the <h2> and <h3> elements inside the "About" section */
#projects h2, #projects h3 {
    color: #fff;
}

/* Header that says who you are */
#introduction-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

/* Styles for the different <p> elements inside the "projects" section */
#projects p {
    display: flex;
    justify-content: center;
}

/* Styles for the different <a href=""> elements inside <p> elements inside the "projects" section */
/* Fixes the above styling causing spaces to disappear between text and hrefs. */
#projects p a {
    margin-left: 0.3em; /* Add space before the link */
}

/* Styles for <a href=""> elements which are in the middle of sentences inside <p> elements */
/* Fixes spaces before and after the href not being present because of the way <p> elements are styled by default on this page. */
#middle-sentence-hrefs {
    margin-left: 0.3em;
    margin-right: 0.3em;
}
